@media (min-width: 768px) {
  .container {
    padding: 0 px;
  }
  .t-txt {
    font-size: 16px;
  }
  .t-fs14 {
    font-size: 14px;
  }
  .is-block {
    display: block;
    width: 48px;
  }
  .hdr-con div a {
    font-size: 36px;
  }
  .hdr-con div div {
    font-size: 18px;
  }
  #hidden-menu {
    display: block;
    display: flex;
  }
  #hidden-menu li {
    margin-right: 5vw;
  }
  #hidden-menu li:last-child {
    margin-left: auto;
  }
  #header-img {
    display: block;
    margin: 0 auto;
  }
  #next-btn {
    display: flex;
  }
  .btn-a {
    height: 48px;
  }
}

@media (min-width: 980px) {
  .t-m-l_margin {
    margin-bottom: 70px;
  }
  .hdr-con {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #hidden-menu {
    margin-bottom: 0px;
    margin: o auto;
  }
  .fa-search {
    margin-left: 5vw;
  }
  .article {
    display: flex;
  }
  .article a {
    display: block;
    margin-right: 20vw;
  }
  #next-btn {
    display: flex;
    justify-content: center;
  }
  #four-column {
    display: flex;
  }
}
